/* public/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Style commun pour les formulaires */
form {
    margin-top: 20px;
}

/* Style pour la liste des collections dans le dashboard */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Style pour les cartes de produits */
.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

/* Style pour le pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
